
body {
	min-height: 100vh;  /* need this line to 
					tell body to fill viewport */
	font-family: 'Montserrat', sans-serif;
	background-color: white;
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #4A73FF;
     }

div.overlay_base {
    display: none; /* Start out hidden, we'll dynamically enable it later. */

    /* Full-window container ... */
    position: fixed; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* ... floating above everything else ... */
    z-index: 2;

    /* ... with partial transparency, 
           to make everything else look greyed out */
    background-color: rgba(0,0,0,0.5);

    /* Flex options for child objects */
    flex-direction: column;
}

div.delete{
	text-align: right;
}

div.showBooks{
	display: flex;
	flex-direction:row;
	text-align: center;
	justify-content: space-around; 
    align-items: center;
}

div.overlay_inner {
	display: flex;
    width: 550px;
    height: 340px;
    background-color: rgb(255,255,255); /* Must set the background color here, 
				otherwise it inherits from the parent */
    position: relative;
}

img{
	display: flex;
	width: 200px;
	height: 280px;
	margin-left: 20px;
	margin-top: 20px;
}

div.slides{
    display: flex;
	flex-direction:row;
	text-align: left;
}

#bookDisplay{
	display: flex;
	flex-direction:row;
	justify-content: flex-start; 
    align-items: stretch;
    flex-wrap: wrap;
    flex:1 0 auto;
}

div.divDisplay{
	display: flex;
    height: 340px;
    width: 450px;
    margin: 9px; /* Must set the background color here, otherwise it inherits from the parent */
    background-color: white;
}

div.keep{
	display: flex;
	justify-content: center;
}
#keepBook{
	padding-left: 25px;
	padding-right: 25px;
}
header{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


h1{
   font-size: x-large;
   text-align: left;
   font-weight: bold;
}


main {
     flex: 1 0 auto;  /* the sticky footer trick without the footer */
     padding: 8px;
}

div.searchBook{
	display: flex;
	justify-content: center;
}

p.searchBook{
	display: flex;
	text-align: left;
	font-size: large;
	color:black;
	width: 630px;
}

p.or{
	margin-top: 60px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}

div.inputPart{
    display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-bottom: 25px;
}

p.inputBoxTag{
	text-align: left;
	margin-left: 0%;
	margin-right: 0%;
	width:150px;
}

input{
	width: 180px;
	height: 25px;
	border-color: #4A73FF;
	border-radius: 5px;
	font-size: medium;
}

button{
	background-color: #4A73FF;
	border-radius: 12px;
	color:white;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button.deleteButton{
	height: 32px;
	width: 43px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 5px;
}

p.title{
	font-size: large;
	font-weight: bold;
	margin: 10px;
	margin-top: 50px;
	color:black;
	width: 250px;
	text-align: left;
}

p.author{
	font-size: large;
	margin: 10px;
	color:black;
	width:250px;
	text-align: left;
}

p.description{
	font-size: medium;
	color: black;
	text-align: left;
	margin: 10px;
	margin-top: 30px;
	width: 250px;
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}


@media screen and (max-width: 800px){
div.inputPart{
	flex-direction: column;
	display: flex;
	padding-bottom: 25px;
	margin-left: 20%;
	margin-right: 20%;
}

button.buttonPart{
    margin-left: 0px;
	margin-right: 0px;
	width: 190px;
	height: 30px;
}

p.or{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	font-weight: bold;
}
p.searchBook{
	display: flex;
	text-align: left;
	font-size: large;
	color:black;
	width: 200px;
}
h1{
   font-size: x-large;
   font-weight: bold;
   text-align: center;
}

p.inputBoxTag{
	text-align: left;
	margin-left: 0%;
	margin-right: 0%;
	width: 180px;
}
#bookDisplay{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
}
